<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274448674373-6e0ohm1va0i7qf7qnc4g5j166bg92vbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274448674373-6e0ohm1va0i7qf7qnc4g5j166bg92vbc</string>
	<key>API_KEY</key>
	<string>AIzaSyDwc5g57YILQoMFQdY_j_PdHrrbBk86zVA</string>
	<key>GCM_SENDER_ID</key>
	<string>274448674373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attedancebeta</string>
	<key>PROJECT_ID</key>
	<string>attedance-8da8a</string>
	<key>STORAGE_BUCKET</key>
	<string>attedance-8da8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274448674373:ios:8c7800c4597d073797fd2c</string>
</dict>
</plist>